<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497446699379-betcv3arr9cqu1p8lvllv2lq1q6o2r1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497446699379-betcv3arr9cqu1p8lvllv2lq1q6o2r1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAeJToahN-MWEp1wh1NDZf9d7-Lsmzq5i4</string>
	<key>GCM_SENDER_ID</key>
	<string>497446699379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willy.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e52ad</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e52ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497446699379:ios:e8dcab69bb38f6ff464506</string>
</dict>
</plist>